<ng-container class="continer">
  <div class="row">
    <nav class="nav mb-2 px-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb fs-4 pt-2">
        <li class="breadcrumb-item text-white" [routerLink]="'/'" style="cursor: pointer;"><a>الرئيسية</a></li>
        <li class="breadcrumb-item active text-white mx-2">/</li>
        <li class="breadcrumb-item active text-white " [routerLink]="'/admin'" style="cursor: pointer;">ادارة</li>
      </ol>
    </nav>
  </div>

</ng-container>
<ng-container class="contaier">
  <div class="row">
    <div class="col-md-2 h-auto my-side-bar">
      <ul class="my-list-group">
        <li class="my-list-group-item my-3 text-white  border-bottom pb-3" routerLink="category" routerLinkActive="pe-4 border-3" >
          الأقسام</li>
        <li class="my-list-group-item my-3 text-white border-bottom pb-3" routerLink="author" routerLinkActive="pe-4 border-3" >المؤلفين
        </li>
        <li class="my-list-group-item my-3 text-white border-bottom pb-3" routerLink="translator" routerLinkActive="pe-4 border-3" >
          المترجمين</li>
        <li class="my-list-group-item my-3 text-white border-bottom pb-3" routerLink="publisher" routerLinkActive="pe-4 border-3" >دور
          النشر</li>
        <li class="my-list-group-item my-3 text-white border-bottom pb-3" routerLink="book" routerLinkActive="pe-4 border-3" >الكتب</li>
        <li class="my-list-group-item my-3 text-white border-bottom pb-3" routerLink="zone" routerLinkActive="pe-4 border-3" >المناطق
        </li>
        <li class="my-list-group-item my-3 text-white border-bottom pb-3" routerLink="staticPage" routerLinkActive="pe-4 border-3" >
          الصفحات الثابتة</li>
        <li class="my-list-group-item my-3 text-white border-bottom pb-3" routerLink="sales" routerLinkActive="pe-4 border-3" >
          المبيعات</li>

      </ul>
    </div>
    <div class="col-md-10"><router-outlet></router-outlet></div>
  </div>
</ng-container>