<table class="table table-striped table-bordered text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">صورة الكتاب</th>
        <th scope="col">الكتاب</th>
        <th scope="col">سعر الكتاب</th>
        <th scope="col">تاريخ الطلب</th>
        <th scope="col">الكمية المطلوبة</th>
        <th scope="col">السعر الكلي</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sale of sales; index as i" class="align-middle">
        <td>{{ i + 1 }}</td>
        <td><img [src]="sale.bookImage" alt="book" width="50" /></td>
        <td>{{ sale.bookName }}</td>
        <td class="fw-bold">{{ sale.bookPrice }}</td>
        <td>{{sale.orderDate  | date:'longDate' }}</td>
        <td>{{ sale.amount }}</td>
        <td>{{ sale.totalPrice }}</td>
        <td>
          <span class="badge text-bg-primary fs-6 bs-datepicker" *ngIf="sale.saleStatus == 1">تم طلبه</span>
          <span class="badge text-bg-success fs-6 bs-datepicker" *ngIf="sale.saleStatus == 2">تم شراؤه</span>
          <span class="badge text-bg-danger fs-6 bs-datepicker" *ngIf="sale.saleStatus == 3">تم رفض بيعه</span>
          <span class="badge text-bg-danger fs-6 bs-datepicker" *ngIf="sale.saleStatus == 4">تم اعادته</span>
        </td>
      </tr>
    </tbody>
  </table>