<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>بياناتي</h1>
        </div>
    </div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-2">
                    <label class="col-form-label me-4 pt-0 mb-2">اسم المستخدم :</label>
            </div>
            <div class="col-md-10">
                    <span class="form-text fs-4 me-4">
                        admin
                    </span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                    <label class="col-form-label me-4 pt-0 mb-2">ايميلي :</label>
            </div>
            <div class="col-md-10">
                    <span class="form-text fs-4 me-4">
                        admin@admin.com
                    </span>
            </div>
           

        </div>
       
    </div>
</div>  