
  <div class="row">
    <nav class="nav mb-2 px-5" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb fs-4 pt-2">
        <li class="breadcrumb-item text-white" [routerLink]="'/'" style="cursor: pointer;"><a>الرئيسية</a></li>
        
      </ol>
    </nav>
  </div>
  
<div class="contaier ">
  <div class="row">
    <div class="col-md-2 h-auto my-side-bar">
      <ul class="my-list-group">
        <li class="my-list-group-item my-3 text-white  border-bottom pb-3" routerLink="profile" routerLinkActive="pe-4 border-3"  >الملف
          الشخصي</li>
        <li class="my-list-group-item my-3 text-white  border-bottom pb-3" routerLink="favs" routerLinkActive="pe-4 border-3">المفضلة
        </li>
        <li class="my-list-group-item my-3 text-white  border-bottom pb-3" routerLink="purchases" routerLinkActive="pe-4 border-3">
          مشترياتي</li>
        <li class="my-list-group-item my-3 text-white  border-bottom pb-3" routerLink="orders" routerLinkActive="pe-4 border-3">
          طلباتي</li>
   
      </ul>
    </div>
    <div class="col-md-10"><router-outlet></router-outlet></div>
  </div>
</div>