<div class="container h-100">
  <div class="row justify-content-center h-100 align-content-lg-center">
    <div class="col-md-5">
      <div class="card my-4">
        <div class="mt-4 text-center">
          <img src="assets/icons/Untitled-1.png" alt="" width="180" class="d-block m-auto mb-3">
          <label class="fw-bold">تسجيل الدخول</label>
        </div>
        <div class="card-body">

          <div *ngIf="showError" class="alert alert-danger" role="alert">
            {{ errorMessage }}
          </div>

          <form [formGroup]="loginForm" autocomplete="off" novalidate (ngSubmit)="loginUser()">
            <div class="mb-3 row">
              <div class="col-md-10 m-auto">
                <input type="email" id="email" formControlName="email" class="form-control" placeholder="البريد الاكتروني"/>
              </div>
              <div class="col-md-5 me-5 mt-2">
                <label *ngIf="
                        validateControl('email') && hasError('email', 'required')
                      ">الرجاءادخال الايميل</label>
                <label *ngIf="validateControl('email') && hasError('email', 'email')">البريد الاكتروني غير صحيحة</label>
              </div>
            </div>
            <div class="mb-3 row">
              <div class="col-md-10 m-auto">
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="كملة المرور"/>
              </div>
              <div class="col-md-5 me-5 mt-2">
                <label *ngIf="
                        validateControl('password') &&
                        hasError('password', 'required')
                      ">كلمة المرور مطلوبة</label>
              </div>
            </div>
            <br />
            <div class="mb-3 row">
              <div class="col-md-12 text-center">
                <button type="submit" class="btn btn-outline-success mx-3" [disabled]="!loginForm.valid">
                  تسجيل الدخول
                </button>
                <button type="submit" class="btn btn-secondary" routerLink="/auth/register">
                  إنشاء حساب جديد
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>