<div class="row">
    <div class="col-md-2 d-flex">
     <a routerLink="/"><img class="inline-block m-auto me-0" width="120" src="assets/icons/Untitled-1.png" alt="library-icon"></a>   
    </div>
    <div class="col-md-10 search-wrap me-5">
       <div class="search-box h-100">
        <input type="text" class="input" placeholder="ابحث باسم الكتاب او المؤلف">
        <div class="btn btn-common">
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
       </div>
    </div>
</div>