nav {
  display: flex;
  justify-content: start;
}

nav > ul > li {
  list-style-type: none;
  display: inline-block;
  padding-left: 20px;
  transition: all 3s;
}

nav > ul > li > a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  text-align: center;

}


nav > ul > li.menu > a {
  background-color: #009c96;
  color: #fff;
}

nav > ul > li > ul.dropdown> div > li {
  text-decoration: none;
  display: block;
}

nav ul li ul.dropdown > div> li > a {
    color: #fff;
}

nav ul li ul.dropdown {
  background-color: rgba(0, 156, 150,.7);
  position: absolute;
  z-index: 999;
  display: none;
}

nav ul li:hover ul.dropdown {
  display: block;
}

