<div class="container-fluid ">
    <div class="row m-0 p-0 ">
        <div class="col-md-4">
            <div class="card card-new-book mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/icons/s2.jpg" class="img-pos" alt="book-image" width="38%">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class=" text-pos fw-bold">
                                <span class="d-block">اصدارات</span>
                                <span>جديـــــــدة</span>
                            </p>
                            <button class="btn-pos py-1" style="background-color: #9c0021;"><a
                                    class="subscripe-size p-2">اشتري الان</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 px-md-4">
            <div class="card card-best-seller mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/icons/s3.png" class="img-pos" alt="book-image" width="38%">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class=" text-pos fw-bold">
                                <span class="d-block">أكثــــــــــــر </span>
                                <span>مبيـعــــــاً</span>
                            </p>
                            <button class="btn-pos py-1" style="background-color: #062754;"><a
                                    class="subscripe-size p-2">اشتري الان</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 pe-5">
            <div class="card card-most-ordered mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/icons/s4.jpg" class="img-pos" alt="book-image" width="38%">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class=" text-pos fw-bold">
                                <span class="d-block">الاكثـــــــر</span>
                                <span>طلبــــــــــاً</span>
                            </p>
                            <button class="btn-pos py-1" style="background-color: #026c68;"><a
                                    class="subscripe-size p-2">اشتري الان</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>